#blog h3,h4{
    text-align: center;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    /*para las imagenes que no quepan se bajen*/
    flex-wrap: wrap;
}

#blog article{
    margin: 15px;
}

#blog img{
    width: 100%;
    max-width: 280px;
}