/* */
#menu-bar{
    display: none;
}

header label{
    float: right;
    font-size: 28px;
    /*margen 6 hacia arriba y 0 al costado*/
    margin: 6px 0;
    /* aparezca la manito en el icono menu*/
    cursor: pointer;
}

.menu{
    position: absolute;
    /* la lista se encuentre desde el lado inicial */
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(230,176,170,0.9);
    /* ver como se desplaza */
    transition: all 0.5s;
    transform: translate(-100%);
}

.menu a{
    display: block;
    color: #000000;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover{
    background: rgba(255,87,51,0.3);
}

#menu-bar:checked ~ .menu {
    transform: translate(0%);
}

